html, body {
	margin: 0;
	padding: 0;
	font-family: 'MetricWeb';
	height: 100%;
}

div, form {
	box-sizing: content-box;
}

#tech-radar__form-container {

	transition: height 0.6s ease;
	overflow: hidden;
	position: relative;

	&.collapsed {
    	height: 7em !important;
		&:after {
			content: '';
			pointer-events: none;
			background: linear-gradient(to bottom, rgba(246,233,216,0) 0%,rgba(246,233,216,1) 100%);
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			height: 1em;
		}
	}

}

#tech-radar__qp-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	& > div {
		flex-grow: 1;
	}
}

#tech-radar__graph-target {
	flex-grow: 1;
	margin-left: -250px;
	min-width: 500px;
	text-align: right;
}

#tech-radar__display {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}

.filter-table {

	white-space: nowrap;

	thead {
		background: #ccc;
	}

	tr.collapsed {

		td.hidden {
			.datum {
				display: none;
			}
			&:after {
				content: 'Click To Display';
			}
		}
	}
}

svg {
	max-width: 100%;
	height: auto;
	font-size: 1.3em;
	font-family: MetricWeb, helvetica, sans;
	font-weight: bold;

	.d3-label {
		fill: black;
		fill-opacity: 1;
		z-index: 10;
		pointer-events: none;
		transition: transform 0.2s ease;
		text-anchor: end;

		&.bg {
			stroke: white;
			stroke-width: 3px;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-opacity: 1;
			stroke-alignment: outer;
		}

		&.ring-label, &.segment-label {
			fill: white;
			font-size: 18pt;

			&.bg{
				stroke: black;
				stroke-width: 5px;
			}
		}
	}

	// Hide it do that the use label is shown instead
	.hovering {
		.d3-label {
			font-weight: bold;
		}
	}

	circle.background {
		pointer-events: none;
	}

	circle.node {
		fill: white;
		stroke-width: 2px;
		stroke: black;

		&.segment-label {
			display: none;
			font-size: 16pt;
		}
	}
}

use {
	pointer-events: none;
}

.details {
	padding-left: 0;

	li {
		list-style: none;
		width: 10em;
		margin-bottom: 0.5em;
		white-space: normal;
		font-weight: normal !important;

		.key {
			font-weight: bold;
		}
	}
}

#error-text-target {
	white-space: pre;

	&:empty {
		display: none;
	}
}
